<template>
    <div class="vue-tempalte">
        <form>
            <h3>Check In</h3>
            <div class="form-group">
                <label>Name</label>
                <input type="text" v-bind:value="this.Details.data[0].checkOut.name" readonly="isReadOnly" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label>Mobile Number</label>
                <input type="tel" v-bind:value="this.Details.data[0].checkOut.mobileNumber" readonly="isReadOnly" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label>Actual Return</label>
                <input type="text" v-bind:value="this.Details.data[0].checkOut.actualReturnDate" readonly="isReadOnly" name="actualReturn" required class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label>Required Return</label>
                <input type="text" v-bind:value="this.Details.data[0].checkOut.returnDate" readonly="isReadOnly" name="requiredReturn" required class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label>Penalty</label>
                <input type="Number" v-bind:value="this.Details.data[0].checkOut.penalty" readonly="isReadOnly" name="number" required class="form-control form-control-lg" />
            </div>
            <button type="submit" @click="ho()" class="btn btn-dark btn-lg btn-block">Back</button>

        </form>
    </div>
</template>

<script>
 import api from '@/services/api'
import router from "../router"

export default {

    data: function() {
        return {
            Details: [],
        }
    },
    methods: {

        ho() {
            router.push("/home")
        }
    },
    beforeMount() {
        var id = localStorage.getItem('selectedBook')
        api.getBook(id)
            .then((response) => {
                this.Details = response;
            })
    },
    mounted() {}
}
</script>