<template>
    <div class="vue-tempalte">
        <form>
            <h3>Check out Book</h3>
            <form v-on:submit="signup">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" required class="form-control form-control-lg" />
                </div>
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="tel" pattern="[0-9]{2}-[0-9]{3} [0-9]{4}" name="mobile" maxlength="11" minlength="11" required class="form-control form-control-lg" />
                    <small>Format: xx-xxx xxxx</small>

                </div>
                <div class="form-group">
                    <label>ID Card Number</label>
                    <input type="text" name="IDCard" minlength="11" maxlength="11" required class="form-control form-control-lg" />
                </div>
                <button type="submit" @click="ho()" class="btn btn-dark btn-lg btn-block">Back</button>

                <button type="submit" class="btn btn-dark btn-lg btn-block">Check Out</button>
            </form>
        </form>
    </div>
</template>
<script>
  import api from '@/services/api'
import router from "../router"

export default {
    methods: {
        signup: (e) => {
            e.preventDefault()
            let name = e.target.elements.name.value
            let mobile = e.target.elements.mobile.value
            let IDCard = e.target.elements.IDCard.value
            let id = localStorage.getItem('selectedBook')

            let data = {
                id: id,
                name: name,
                mobileNumber: mobile,
                IDcardNumber: IDCard,
            }
            console.log(id)

            api.checkOut(data)

        },
        ho() {
            router.push("/home")
        },
    }
}
</script>