<template>
    <div>
        <h2>Library Management System</h2>
        <table class="table" id="datatable">
            <thead>
                <tr>
                    <th> </th>
                    <th>Book title</th>
                    <th>Publish year</th>
                    <th>Cover price</th>
                    <th>Check In</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in products" :key="item.id">
                    <td>
                        <input type="radio" name="radios" @change="saveRadioSelection(item)" id="radio2" />
                    </td>
                    <td>{{item.title}}</td>
                    <td>{{item.year}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.CheckIn==true}}</td>
                </tr>

            </tbody>

            <div>
            </div>
        </table>
        <Modal v-model="showModal">
            <h2>Book Details</h2>

            <table class="table" id="datatable2">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Publish Year</th>
                        <th>Cover Price</th>
                        <th>Check In</th>
                        <th>Borrower Name</th>


                    </tr>
                </thead>
                <tbody>

                    <td>{{Details2.title}}</td>
                    <td>{{Details2.isbn}}</td>
                    <td>{{Details2.year}}</td>
                    <td>{{Details2.price}}</td>
                    <td>{{Details2.CheckIn}}</td>
                    <td>{{Borrower}}</td>


                </tbody>

                <div>
                </div>
            </table>

            <h2>Checkout History</h2>

            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th>Borrower Name</th>
                        <th>Borrow Date</th>


                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in Details" :key="item">

                        <td>{{item.name}}</td>
                        <td>{{item.borrowDate}}</td>


                    </tr>

                </tbody>

                <div>
                </div>
            </table>
            <p> </p>

        </Modal>
        <button type="submit" @click="ci()" v-if="CheckIn" class="btn btn-dark btn-lg btn-block">Check In</button>
        <button type="submit" @click="co()" v-if="CheckOut" class="btn btn-dark btn-lg btn-block">Check Out</button>
        <button type="submit" v-if="btnDetail" @click="Detail" class="btn btn-dark btn-lg btn-block">Details</button>

    </div>


</template> 
<script>
import 'jquery/dist/jquery.min.js';
import 'bootstrap/dist/css/bootstrap.min.css';
import "datatables.net-dt/js/dataTables.dataTables"
import "datatables.net-dt/css/jquery.dataTables.min.css"
import $ from 'jquery';


import api from '@/services/api'
import router from "../router"



export default {
    methods: {

        saveRadioSelection(event) {
            this.btnDetail = true;
            if (event.CheckIn == true) {
                this.CheckIn = false;
                this.CheckOut = true;
            }
            if (event.CheckIn == false) {
                this.CheckOut = false;
                this.CheckIn = true;
            }
            localStorage.setItem('selectedBook', event._id)

        },
        Detail() {
            var id = localStorage.getItem('selectedBook')
            api.getBook(id)
                .then((response) => {
                    this.Details2 = response.data[0].books;

                    this.Details = response.data[0].books.CheckOut;
                    if (response.data[0].books.CheckIn == false && response.data[0].books.CheckOut.length >= 1) {
                        var checkOutt = this.Details2.CheckOut.slice(-1).pop()
                        this.Borrower = checkOutt.name
                    } else {
                        this.Borrower = 'No Borrower'
                    }
                    console.log(this.Details2)
                    this.showModal = true
                })
        },
        ci() {
            api.checkIn()
                .then((response) => {
                    console.log(response)
                    router.push("/checkin")

                })
        },
        co() {
            router.push("/checkout")
        },
    },
    mounted() {

    },
    beforeMount() {
        console.log(this.products)
        api.getAllBooks()
            .then((response) => {
                console.log(this.products)
                $('#datatable').DataTable().destroy();
                this.products = response.data;
                $('#datatable').DataTable({
                    searching: false,
                    paging: false,
                    info: false,
                    "ordering": false,
                });
                $('#datatable').DataTable();
            })
    },
    data: function() {
        return {
            products: [{}],
            Details: [],
            Details2: [],
            Borrower: [],
            CheckIn: false,
            CheckOut: false,
            btnDetail: false,
            showModal: false,
            picked: 'radios',

        }
    },
}
</script>