<template>
    <div class="vue-tempalte">
        <form>
            <h3>Sign In</h3>
            <form v-on:submit="login">

                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" name="email" required class="form-control form-control-lg" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" minlength="8" required class="form-control form-control-lg" />
                </div>

                <button type="submit" class="btn btn-dark btn-lg btn-block">Sign In</button>
                <p class="forgot-password text-right">
                    Not registered yet
                    <router-link :to="{name: 'signup'}">sign up?</router-link>
                </p>
            </form>

        </form>
    </div>
</template>
<script >
import api from '@/services/api'

export default {
    beforeMount() {
        localStorage.removeItem('token');
    },
    data: function() {
        return {
            response: [],
        }
    },
    methods: {
        login: (e) => {
            e.preventDefault()
            let email = e.target.elements.email.value
            let password = e.target.elements.password.value

            if (email && password != null || email && password) {
                let data = {
                    email: email,
                    password: password,
                }
                api.login(data).then((response) => {
                    console.log(response)
                })
            }
        }
    }
}
</script>