<template>
    <div class="vue-tempalte">
        <form>
            <h3>Sign Up</h3>
            <form v-on:submit="signup">

                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" name="email" required class="form-control form-control-lg" />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" minlength="8" required class="form-control form-control-lg" />
                </div>

                <div class="form-group">
                    <label> Retype Password</label>
                    <input type="password" name="retypepassword" minlength="8" required class="form-control form-control-lg" />
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block">Sign Up</button>

                <p class="forgot-password text-right">
                    Already registered
                    <router-link :to="{name: 'login'}">sign in?</router-link>
                </p>
            </form>
        </form>
    </div>
</template>

<script>
  import api from '@/services/api'

export default {
    methods: {
        signup: (e) => {
            e.preventDefault()
            let email = e.target.elements.email.value
            let password = e.target.elements.password.value
            let retypepassword = e.target.elements.retypepassword.value

            if (retypepassword == password) {
                let data = {
                    email: email,
                    password: password
                }
                api.signup(data)

            } else {
                console.log("Password and retype password does not match")
            }
        }
    }
}   
</script>