
<template>
  <div class="vue-tempalte">
    <!-- Navigation -->
    <nav class="navbar shadow bg-white rounded justify-content-between flex-nowrap flex-row fixed-top">
      <div class="container">
        <a class="navbar-brand float-left" target="_blank">
           
        </a>
        <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item">
            <button type="submit" v-if="logoutt" @click="logout()" class="btn btn-dark btn-lg btn-block">Logout</button>
         </li>
        </ul>
      </div>
    </nav>

    <!-- Main -->
    <div class="App">
      <div class="vertical-center">
        <div class="inner-block">
          <router-view />
        </div>
      </div>
    </div>
     </div>
  </template>
<script>
import router from "./router"


export default {
  name: 'App',
     beforeMount() {
      if(localStorage.getItem('token')==null){
      router.push("/login")
      }else{
          this.logoutt=true;
          router.push("/home")
      }      
    },
     methods: {
         logout(){
            localStorage.removeItem('token');
             this.logoutt=false;
             router.push("/login")

         }
       }
 }

</script>

<style>
  .container {
    max-width: 1000px;
  }
</style>